apiVersion: v1
kind: Secret
metadata:
  name: cfdd-secrets
  labels:
    app: cfdd
type: Opaque
data:
  datadog-api-key:
  datadog-app-key:
  auth-email:
  auth-key:
  zone:
  dead-mans_snitch-url: ""
